
<footer ><!-- Rodapé -->
<div class=" container">
    <div id="footer" >
    	
	       	<div class="clear"></div>
	   		<div class="footer_btm container ">
	        	<div class="footer_bt container">
	                <div class="footer_btm_inner ">
	                      	
	                 </div>	
	                 <h8>&nbsp; © 2014 <%= link_to 'Developed by , ITELnet - Comunicações & Serviços, S.A. ', 'http://www.itelnet.co.ao/' %>
	                 </h8>
	            </div>
	        </div>
	    </div>
    </div>
</footer><!-- fim rodapé -->